################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ElevatorSystem/ElevatorSystemLLD/.vs/ElevatorSystemLLD
/ElevatorSystem/ElevatorSystemLLD/ElevatorSystemLLD/obj
/ElevatorSystem/ElevatorSystemLLD/ElevatorSystemLLD/bin/Debug/net8.0
/ElevatorSystem/ElevatorSystemLLD/.vs/ProjectEvaluation
/ElevatorSystem/.vs
/BookMyShow/BookMyShow_LLD/.vs/BookMyShow_LLD
/BookMyShow/.vs
/BookMyShow/BookMyShow_LLD/BookMyShow_LLD/obj
/BookMyShow/BookMyShow_LLD/BookMyShow_LLD/bin/Debug/net8.0
/BookMyShow/BookMyShow_LLD/.vs/ProjectEvaluation
/ObjectPooling/ObjectPooling_LLD/ObjectPooling/.vs/ObjectPooling
/ObjectPooling/ObjectPooling_LLD/ObjectPooling/ObjectPooling/obj
/ObjectPooling/ObjectPooling_LLD/ObjectPooling/ObjectPooling/bin/Debug/net8.0
/ObjectPooling/.vs
/ObjectPooling/ObjectPooling_LLD/ObjectPooling/.vs/ProjectEvaluation
/CarRentalSystem/CarRentalSystemLLD/.vs/CarRentalSystemLLD
/CarRentalSystem/CarRentalSystemLLD/CarRentalSystemLLD/obj
/CarRentalSystem/CarRentalSystemLLD/CarRentalSystemLLD/bin/Debug/net8.0
/CarRentalSystem/CarRentalSystemLLD/.vs
/.DS_Store
/BookMyShow/.DS_Store
/CarRentalSystem/.DS_Store
/CarRentalSystem/CarRentalSystemLLD/.DS_Store
/OrderManagementSystem/.DS_Store
/.vscode/settings.json
/OrderManagementSystem/BlinkItLLD/bin
/OrderManagementSystem/BlinkItLLD/obj
/OrderManagementSystem/BlinkItLLD/.vs
/ATMDesign/ATMLLD/.vs
/ATMDesign/ATMLLD/obj
/ATMDesign/ATMLLD/bin
/ATMDesign/.DS_Store
/VendingMachineDesign/VendingMachineLLD/obj
/VendingMachineDesign/VendingMachineLLD/bin
/VendingMachineDesign/.vs
/VendingMachineDesign/.DS_Store
/SnakeAndLadderGameDesign/SnakeAndLadderGameLLD/SnakeAndLadderGame/.vs
/SnakeAndLadderGameDesign/SnakeAndLadderGameLLD/SnakeAndLadderGame/bin
/SnakeAndLadderGameDesign/SnakeAndLadderGameLLD/SnakeAndLadderGame/obj
/SnakeAndLadderGameDesign/.DS_Store
/SnakeAndLadderGameDesign/SnakeAndLadderGameLLD/.DS_Store
/HotelBookingSystem/HotelBookingLLD/.vs
/HotelBookingSystem/HotelBookingLLD/bin
/HotelBookingSystem/HotelBookingLLD/obj
/HotelBookingSystem/.DS_Store


